<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      <h4 class="panel-title">
        <%= fa_icon "bomb" %> BootSaaS
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Messages</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
      <h4 class="panel-title">
        <%= fa_icon "bolt" %> BootSaaS
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">BootSaaS</a></li>
          <li><a href="#">BootSaaS</a></li>
          <li><a href="#">BootSaaS</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
      <h4 class="panel-title">
        <%= fa_icon "beer" %> BootSaaS
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">BootSaaS</a></li>
          <li><a href="#">BootSaaS</a></li>
          <li><a href="#">BootSaaS</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>