<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%= fa_icon "bomb" %> BootSaaS</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>
              <a href="#">BootSaaS</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">BootSaaS</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">BootSaaS</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">BootSaaS</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><%= fa_icon "bolt" %> BootSaaS</a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>
              <a href="#">BootSaaS</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">BootSaaS</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">BootSaaS</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">BootSaaS</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><%= fa_icon "beer" %> BootSaaS</a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>
              <a href="#">BootSaaS</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">BootSaaS</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">BootSaaS</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">BootSaaS</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>