<a name="about"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>We're coming soon</h1>
          <h3>In the meantime, you can sign up to our mailing list to be the first to know!</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <%= render 'layouts/mailchimp' %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>