<a name="about"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="pricing-message">
          <h1>Simple pricing, how it should be</h1>
          <h3>Cancel anytime, no fuss, no questions asked</h3>
          <hr class="intro-divider"><br><br>
          <%= render 'static_pages/pricing_table' %>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>