<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Free</h3>
        </div>
        <div class="panel-body">
          <div class="the-price">
            <h1>FREE<span class="subscript">/mo</span></h1>
            <small>Our free plan, free now, free forever</small>
          </div>
          <table class="table">
            <!--tr>
              <td>1 Account</td>
            </tr-->
            <tr class="active">
              <td>25 Things</td>
            </tr>
            <tr>
              <td>No Stuff</td>
            </tr>
            <tr class="active">
              <td>No Stuff</td>
            </tr>
            <tr>
              <td>Stuff</td>
            </tr>
            <tr class="active">
              <td>Stuff</td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <%= link_to 'Sign Up', coming_soon_path, class: "btn btn-success btn-lg" %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-primary">
        <div class="cnrflash">
          <div class="cnrflash-inner">
            <span class="cnrflash-label">MOST<br>POPULAR</span>
          </div>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">Pro</h3>
        </div>

        <div class="panel-body">
          <div class="the-price">
            <h1>£9<span class="subscript">/mo</span></h1>
            <small>Great features, great price</small>
          </div>
          <table class="table">
            <!--tr>
              <td>2 Account</td>
            </tr-->
            <tr class="active">
              <td>100 Things</td>
            </tr>
            <tr>
              <td>Unlimited Stuff</td>
            </tr>
            <tr class="active">
              <td>Stuff</td>
            </tr>
            <tr>
              <td>Stuff</td>
            </tr>
            <tr class="active">
              <td>Stuff</td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <%= link_to 'Sign Up', coming_soon_path, class: "btn btn-success btn-lg" %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Business</h3>
        </div>
        <div class="panel-body">
          <div class="the-price">
            <h1>£35<span class="subscript">/mo</span></h1>
            <small>For those serious about data</small>
          </div>
          <table class="table">
            <!--tr>
              <td>5 Account</td>
            </tr-->
            <tr class="active">
              <td>1,000 Things</td>
            </tr>
            <tr>
              <td>Unlimited Stuff</td>
            </tr>
            <tr class="active">
              <td>Stuff</td>
            </tr>
            <tr>
              <td>Stuff</td>
            </tr>
            <tr class="active">
              <td>Stuff</td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <%= link_to 'Sign Up', coming_soon_path, class: "btn btn-success btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>